/* Global Styles */
html, #__nuxt {
  overflow-x: hidden;
}

/* Scrollbar Styles */
::-webkit-scrollbar-thumb {
  background-color: #babac0 !important;
}

/* Calendar */
.el-date-table td.current:not(.disabled) span {
  background: #00e687;
  color: #000000;
}

.el-date-table td.today span,
.el-date-table td.available:hover,
.el-date-picker__header-label.active,
.el-date-picker__header-label:hover,
.time-select-item.selected:not(.disabled) {
  color: #00e687;
}

/* Form Input */
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: #00e687;
}

.scoped__step-one [class$='__title'] {
  font-size: 24px;
  margin-bottom: 4rem;
}

/* Small Round Buttons */
.el-button {
  color: #606266 !important;
  border-color:#dcdfe6 !important;
  background-color: #ffffff !important;
}

.el-button:hover,
.el-button:active,
.el-button:focus {
  color: #606266;
  border-color:#606266;
  background-color: #dcdfe6;
}

/* Buttons */
.el-button--primary {
  margin-top: 1rem;
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 20px 22px;
  font-size: 13px;
  line-height: 11.5px;
  letter-spacing: 0.3px;
  background-color: #000000 !important;
  color: #ffffff !important;
  border: none;
  border-radius: 0;
  transition: all 0.4s cubic-bezier(0.32, 0.94, 0.6, 1) !important;
}

/* Disabled Button */
.el-button--primary.is-disabled {
  background-color: #585858;
}

.el-button--primary:hover,
.el-button--primary:active,
.el-button--primary:focus {
  background-color: #00e687 !important;
  box-shadow: none;
  color: #000000 !important;
}
