/* Global Styles */
:root {
  --brand-green: #00e687;
  --dark-gray-color: #606266;
  --light-gray-color: #babac0;
}

html, #__nuxt {
  overflow-x: hidden;
}

/* Scrollbar Styles */
body::-webkit-scrollbar-thumb {
  background-color: var(--light-gray-color);
}

/* Calendar */
.el-date-table td.current:not(.disabled) span {
  background: var(--brand-green);
  color: #000000;
}

.el-date-table td.today span,
.el-date-table td.available:hover,
.el-date-picker__header-label.active,
.el-date-picker__header-label:hover,
.time-select-item.selected:not(.disabled) {
  color: var(--brand-green);
}

/* Form Input */
.el-input.is-active .el-input__inner,
.el-input__inner:focus {
  border-color: var(--brand-green);
}

/* Tooltip Icon */
.CustomerForm__tooltip-icon {
  color: var(--brand-green);
}

/* From - Switch Toggle Text */
.el-switch__label.is-active {
  color: var(--brand-green);
}

/* Form - Checkbox */
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background-color: var(--brand-green) !important;
  border-color: var(--brand-green) !important;
}

/* Form - Select */
.el-select .el-input.is-focus .el-input__inner {
  border-color: var(--brand-green);
}

/* Title */
.scoped__step-one [class$='__title'] {
  font-size: 24px;
  margin-bottom: 4rem;
}

.scoped__actions {
  background: transparent !important;
}

/* Small Round Buttons */
.el-button {
  color: var(--dark-gray-color) !important;
  border-color: var(--light-gray-color) !important;
  background-color: #ffffff !important;
}

.el-button:hover,
.el-button:active,
.el-button:focus {
  color: var(--dark-gray-color);
  border-color: var(--dark-gray-color);
  background-color: var(--light-gray-color);
}

/* Buttons */
.el-button--primary {
  font-family: 'proxima-nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding: 20px 22px;
  font-size: 13px;
  line-height: 11.5px;
  letter-spacing: 0.3px;
  background-color: #000000 !important;
  color: #ffffff !important;
  border: none;
  border-radius: 0;
  transition: all 0.4s cubic-bezier(0.32, 0.94, 0.6, 1) !important;
}

.el-button--primary:hover:not(.is-disabled),
.el-button--primary:active:not(.is-disabled),
.el-button--primary:focus:not(.is-disabled) {
  background-color: var(--brand-green) !important;
  box-shadow: none;
  color: #000000 !important;
}

/* Disabled Button */
.el-button--primary.is-disabled {
  background-color: var(--dark-gray-color) !important;
}
